/*
h1, h2, h3 ,h4,h5,h6{
	font-family: 'Crimson Text', serif;
	font-size: 10;
	color: darkblue;

}
Li{
	font-family: 'Work Sans',serif;
}
body{
	font-family: 'Crimson Text', serif;
	font-size: 10;
	color: darkblue;
}*/